doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='dragblob', href='/javascripts/dragblob.js')
  body
    block content
    div #droptarget
