extends layout
block content
    .container-fluid
        .row
            .col-lg-3
                button.btn.btn-primary New
                button.btn.btn-danger Delete
                button.btn.btn-primary Add Text
                button.btn.btn-primary Add Image

            .col-lg-9
                #droptarget(style='height: 35em;').
                    Hey Im the slide body Add stuff to me
