extends layout
block content
    .container-fluid
        .row
            .col-lg-12
                h1.text-center PSS: Plus Sized Slides
        .row
            .col-lg-12
                #droptarget(style="height: 40em;")
                   each text in body.text
                       span= text
                   each image in body.image
                       .img-responsive
        .row
            .col-lg-12
                #draggable


        .row
            .col-lg-2.margin-offset-left
                button.btn.btn-primary.btn-lg(type="button") New
            .col-lg-2
                button.btn.btn-danger.btn-lg(type="button") Delete
            .col-lg-2
                button.btn.btn-primary.btn-lg(type="button") Add Text
            .col-lg-2
                button.btn.btn-primary.btn-lg(type="button") Add Bulleted Text
            .col-lg-2
                button.btn.btn-primary.btn-lg(type="button") Save Slide