body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #98bcca
}

h1 {
    font-size: 72px;
}

a {
    color: #00B7FF;
}

#droptarget {
    margin: 60px;
    background-color: #f3f0f0;
    border: solid;
}

#draggable {
    margin: 45px;
    border: solid;
    height: 20px;

}

.margin-offset-left{
    margin-left:11.333333%;
}

#drag-1, #drag-2 {
    width: 25%;
    height: 100%;
    min-height: 6.5em;
    margin: 10%;

    background-color: #29e;
    color: white;

    border-radius: 0.75em;
    padding: 4%;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}

p, ul {
    width: auto;
    padding: 4px;
    margin: 4px;
}